/* -----------------------------------------
	10. External Plugins
----------------------------------------- */

/* Jetpack Sharing */
.sharedaddy {
	margin-top: 30px;
}

/* WP Instagram */
.null-instagram-feed {
	p {
		padding-top: 10px;
	}
}

.widget {
	.instagram-pics {
		@include clearfix;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 0;
			padding: 0;
			float: left;
			width: 33.33333333333%;

			a {
				display: block;
				color: $text-color;
			}
		}
	}
}

/* Select2
===================================== */
.ci-select, .job-manager-form {
	font-size: 15px;

	.select2-container {
		.select2-selection {
			border: 2px solid $grey;

			&.select2-selection--single {
				height: 42px;

				.select2-selection__rendered {
					line-height: 37px;
				}

				.select2-selection__clear {
					right: 10px;
				}
			}

			&.select2-selection--multiple {
				line-height: 1em;
				padding: 0 12px;
				min-height: 42px;

				.select2-selection__rendered {
					padding: 0;
				}

				.select2-selection__choice {
					color: $text-color;
					font-size: 10px;
					text-transform: uppercase;
					padding: 6px 20px 6px 10px;
					background: $border-color;
					border: 0;
					position: relative;
					margin-top: 7px;
					margin-right: 8px;

					.select2-selection__choice__remove {
						font-size: 16px;
						position: absolute;
						top: 5px;
						right: 3px;
					}
				}

				.select2-search__field {
					margin: 0;
					height: 35px;
					position: relative;
					top: 2px;
				}

				.select2-search--inline {
					margin-top: 0;
				}
				
				.select2-selection__clear {
					color: $text-color;
					float: left;
					line-height: 36px;
					margin-top: 0;
					position: relative;
					top: 1px;
				}
			}
		}

		.select2-selection__arrow {
			display: none;
		}
	}
}

.select2-container {
	.select2-results {
		font-size: 15px;
		line-height: 1em;

		.select2-results__option--highlighted {
			background: $accent-color;
		}
	}
}

/* WP Job Manager Plugin
====================================== */
div.job_listings {
	margin-bottom: 0;
}

ul.job_listings {
	li.job_listing.job_position_featured.list-item {
		a {
			background: none;
			&:hover, &:focus {
				background: none;
			}
		}
	}
}

.entry-content .job_listing_preview_title .button,
.job_listing_preview_title .button {
	@include button-xs;
}

.single_job_listing .application .application_button {
	@include button;
	@include button-md;
}

.job-listing-meta {
	margin: 0;
	padding: 0;

	li {
		text-transform: uppercase;
		font-size: 11px;
		list-style: none;
	}
}

.company_video {
	margin-top: 20px;
	background-color: $white;
	padding: 5px;
	border-bottom: 2px solid $border-color;
	border-radius: 3px;
}

.google_map_link {
	&::before {
		font-family: FontAwesome;
		content: '\f041';
		margin-right: 5px;
		font-size: .9em;
		opacity: .7;
	}
}

// Restyle jobs widget
.widget {
	ul.job_listings {
		border-top: 0;

		li.job_listing {
			border-bottom-color: $border-color;
			background-color: $white;
			padding: 10px;

			.footer & {
				padding-left: 0;
				padding-right: 0;

				&.job_position_featured {
					padding-left: 10px;
					padding-right: 10px;
				}
			}

			&:first-child {
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}

			&:last-child {
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}

			.list-item-title {
				a {
					padding: 0;
					background: none;
	
					&:hover,
					&:focus {
						background: none;
					}
				}
			}			

			&.job_position_featured {
				background: $color-featured;
				a {
					background: none;

					&:hover,
					&:focus {
						background: none;
					}
				}
			}
		}
	}

	&:not(.widget_featured_jobs) {
		ul.job_listings {
			li.job_listing {
				&.job_position_featured {
					background-color: $color-featured;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
}
