/* -----------------------------------------
  09.  MOBILE MENU
----------------------------------------- */
.mm-page {
  position: static;
}

.mm-opened {
  .mm-page {
    position: relative;
  }
}

#mobilemenu {
	display: none;

	@include media-breakpoint-down(md) {
		display: block;
	}
}

.mobile-nav-trigger {
	display: none;
	text-transform: uppercase;
	color: $white;
	font-size: 16px;
	padding: 5px 0;

	&:hover,
	&:focus {
		color: $white;
	}

	.fa {
		margin-right: 5px;
	}
}

/* Mobile Triggers
=================================== */
.mobile-triggers {
	@include clearfix;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: $white;
	border-top: 1px solid $border-color;
	display: none;
	z-index: 99;
}

.mobile-trigger {
	@include link-secondary;
	font-size: 13px;
	width: 50%;
	float: left;
	padding: 12px 10px;

	&:hover,
	&:focus {
		color: $text-color-light;
	}

	&:first-child {
		border-right: 1px solid $border-color;
	}

	.fa {
		margin-right: 7px;
	}
}