<div class="doc_title">Demo project of a school administration system</div>
<p>Please follow the video tutorial first. Read the explanation about user roles to test the different roles in your own WordPress environment. <a href="?page=wpda_help&docid=demo_wpda_sas#nozip">Click here if you cannot import ZIP file!</a></p>
<iframe style="width:1280px; height:720px;" src="https://www.youtube.com/embed/tMlhR7a0pks?vq=hd720" allowfullscreen></iframe>
<p><strong>How to give users access to your WordPress app</strong></p>
<p>You can use WordPress roles to give users access to your app pages.
For this demo I used the standard WordPress roles.
It might be wise to create your own (non WordPress) roles for your own WordPress app.
</p>
<p><strong>How to test general administrative functionality</strong></p>
<p>If you log in as an administrator, you can administer module, course, teacher and student information.
</p>
<p><strong>How to test teacher functionality</strong></p>
<p>Create a new WordPress user named teacher.
Give this user the role contributor.
Log in as user teacher.
The demo app allows teachers to update their profile.
</p>
<p><strong>How to test student functionality</strong></p>
<p>Create a new WordPress user named student.
Give this user the role subscriber.
Log in as user student.
The demo app allows students to update their profilea and view their courses and grades.
</p>
<p><a href="?page=wpda_help&docid=demo_wpda_sas">More text...</a>
</p>