<div class="doc_title">Data Projects Video Tutorials</div>
<p>I created these videos with the purpose to help you to understand how to work with the Data Projects tool.
The version of WP Data Access shown in the video might be older than the version you have installed.
The user interface however should work similar.
These are not professional videos but I hope you find them useful. ;-)
</p>
<p><strong>(1) Data Projects Basics</strong></p>
<iframe style="width:1280px; height:720px;" src="https://www.youtube.com/embed/lK-BUezAp5c?vq=hd720" allowfullscreen></iframe>
<p><strong>(2) Data Projects and One-To-Many relationships </strong></p>
<iframe style="width:1280px; height:720px;" src="https://www.youtube.com/embed/Ffce-RzEq-o?vq=hd720" allowfullscreen></iframe>
<p><strong>(3) Data Projects and Many-To-Many relationships </strong></p>
<iframe style="width:1280px; height:720px;" src="https://www.youtube.com/embed/H5hS-J_JJB8?vq=hd720" allowfullscreen></iframe>
<p><strong>(4) Data Projects Fine Tuning</strong></p>
<p>Work in progress...</p>
<p><strong>(5) Data Projects Export and Import</strong></p>
<p>Work in progress...</p>