<div class="doc_title">What's New?</div>
<p>The following features were added to WP Data Access</p>
<ul class="doc_list">
  <li><a href="?page=wpda">Added export to XML, json, Excel and csv to Data Explorer table actions</a> V2.0.13</li>
  <li>Improved <strong>import</strong>, <strong>export</strong> and <strong>data backup</strong> (uses less resources, better handling large files, improved error handling) V2.0.12</li>
  <li><a href="?page=wpda_help&docid=demo_wpda_sas_video">Added a video tutorial to install the demo app</a> (<span style="color:red">CHECK THIS OUT</span>) V2.0.12</li>
  <li><a href="?page=wpda_settings&tab=system">Added a "System Info" page to easily communicate installation settings</a> V2.0.12</li>
</ul>
<p><a href="https://bitbucket.org/wpdataaccess/wp-data-access/src/master/CHANGES.md" target="_blank">View the changelog to see all additions, fixes and changes</a></p>