<div class="doc_title">Data Projects - Manage Table Options</div>
<p>Use the Manage Table Options feature to define table specific settings:</p>
<ul class="doc_list">
  <li>Define tab label</li>
  <li>Define relationships between table to create parent-child (master-detail) pages</li>
  <li>Define column labels and ordering</li>
  <li>Hide specific columns</li>
</ul>

<p>You need to add your table to the repository first.
Use button "Add Table To Repository".
This will load the table structure from the database into the repository.
After that you can start to define your table options.</p>

<p>Tables that are not in the repository can still be used in a project.
For these table the default layout rules will be used.
Tables used in parent-child pages must always be added to the repository.
Their relationships need be defined to make a parent-child page work properly.</p>

<p>If you modify the structure of a table, you can use the reconcile button to reload the table structure from the database into the repository.
Check "Keep Options?" to keep the settings you have already defined.</p>
