<div class="doc_title">Data Projects - Manage Dashboard Menus</div>
<p>Use this feature to add a table list with CRUD functionality to your own WordPress Dashboard menu for any database table. This will automatically add export and import functionality.</p>

<p>Follow these steps:</p>
<ol type="1">
  <li>Click on menu item Data Menus</li>
  <li>Click on Add New</li>
  <li>Provide the necessary information (see explanation below)</li>
</ol>

<p><strong>Menu slug</strong></p>
<p class="doc_margin">Enter the menu slug of the main page. This is the menu to which your menu item will be added.</p>

<p><strong>Menu name</strong></p>
<p class="doc_margin">The menu name as it will appear in your menu.</p>

<p><strong>Table name</strong></p>
<p class="doc_margin">Select the table from the list provided.</p>

<p><strong>Capability</strong></p>
<p class="doc_margin">Select the capability users must have at least for your menu item to be shown.</p>

<p><strong>Roles authorized</strong></p>
<p class="doc_margin">When you change the capability thius item will automatically be updated to show which roles are affected.</p>

<p><strong>Note</strong></p>
<p class="doc_margin">You'll need to refresh the page to make your changes visible.</p>
