<div class="doc_title">What's New?</div>
<p>The following features were added to WP Data Access</p>
<ul class="doc_list">
  <li><a href="?page=wpda_help&docid=export_import">Video tutorials how to user the Data Explorer to export and import data</a> V2.0.14</li>
  <li><a href="?page=wpda_designer">Improved Data Designer now supports create, alter and drop table and indexes</a> (<span style="color:red">CHECK THIS OUT</span>) V2.0.14</li>
  <li>Call Data Designer directly from Data Explorer "TABLE : Manage >>> ALTER" (<span style="color:red">CHECK THIS OUT</span>) V2.0.14</li>
  <li>Added export to XML, JSON, Excel and CSV to Data Explorer table pages (user selection) V2.0.14</li>
  <li>Improved the sound of some videos V2.0.14</li>
</ul>
<p>Features which were added earlier</p>
<ul class="doc_list">
  <li><a href="?page=wpda_help&docid=demo_wpda_sas_video">Added a video tutorial to install the demo app</a> (<span style="color:red">CHECK THIS OUT</span>) V2.0.12</li>
</ul>
<p><a href="https://bitbucket.org/wpdataaccess/wp-data-access/src/master/CHANGES.md" target="_blank">View the changelog to see all additions, fixes and changes</a></p>