<div class="doc_title">Data Designer</div>
<p>Use the Data Designer to design new tables and indexes or modify existing ones. Ones you're satisfied with your table design, simply click on create table (with of without indexes).</p>
<p>Want to modify an existing table? Use reverse engineering to create a table design from an existing table. Indexes are taken into account as well. After that you can modify your structure and recreate the table or create a new table with another name.</p>
<p>Want to save your old table? Rename it in the Data Explorer!</p>
<p>Want to add an enum of list column? Put your values between single quotes!<br/>For example: 'Yes','No' (<a href="https://wordpress.org/support/topic/howto-create-enum-set-data-types-fields/#post-11417019" target="_blank">See support topic 11411195, Decentris, Hannes)</a></p>