<div class="doc_title">Use WP Data Access classes in your own PHP code</div>
<p>As a PHP programmer you can use WP Data Access to add full CRUD table pages to your own dashboard menu.
Folder "tutorials" contains an example php file named <strong>wpda-test.php.txt</strong> which you can use add any WP Data Access CRUD page to own dashboard menu.
Just follow the steps described in <strong>wpda-test.php.txt</strong> to get the example code to work.
</p>