<div class="doc_title">Data Designer</div>
<p>Use the Data Designer to design new tables and indexes or modify existing ones.
You can call the Data Designer directly from the Data Explorer to alter specific tables.</p>
<p>Keep in mind that a table design is just the definition of a table structure.
To create or alter a physical database table you have to explicitly click the create or alter button.
Saving a table design does not change any existing physical database table or index structures.</p>
<p>Want to modify an existing table?
Use reverse engineering to create a table design from an existing table or just click the ALTER button in the Data Explorer.
Indexes are taken into account as well.
After that you can modify your structure and recreate the table or create a new table with another name.</p>
<p>Want to save your old table?
Rename it in the Data Explorer!</p>
<p>Want to add a listbox to your form?
Use an enum or list column.
Put your values between single quotes!<br/>
For example: 'Yes','No' (<a href="https://wordpress.org/support/topic/howto-create-enum-set-data-types-fields/#post-11417019" target="_blank">See support topic 11411195, Decentris, Hannes)</a><
/p>
<p>Read <a href="//wordpress.org/support/topic/listbox-on-data-entry-page/#post-11511062" target="_blank">this topic on the support forum</a> the learn how to add a listbox to your data entry form.
</p>