<div class="doc_title">Export/Import</div>
<p>WP Data Access offers two types of exports and imports:</p>
<ol type="1">
  <li>Data Explorer main page export/import</li>
  <li>Data Explorer table page export/import</li>
</ol>

<p><strong>1. Data Explorer main page export/import</strong></p>
<p>Use these features to export/import complete tables (use bulk export to export multiple tables at ones). The export file includes a create table and an insert into statements for every exported table.</p>

<p class="doc_margin"><strong>Export table(s)</strong></p>
<p class="doc_margin">To export multiple tables at ones, select the desired tables, select Export Table from the Bulk Actions list and click Apply.</p>
<p class="doc_margin">To export a single table, use the bulk export feature and limit your selection or click on the Export button on the tables Actions tab.</p>

<p class="doc_margin"><strong>Import table(s)</strong></p>
<p class="doc_margin">Click the import button on top of the screen. Select the file you to import and click Import File.</p>

<p><strong>2. Data Explorer table page export/import</strong></p>
<p>Use these features to export/import a selected number of records from a specific table (the table shown on the Data Explorer page). The export file includes only one insert into statement. The import feature on a Data Explorer table page only supports the import of data into the table displayed on the page. Any other statement than an insert into the table on the page will be rejected. Use the import feature of the Data Explorer main page to import any valid import file.</p>

<p class="doc_margin"><strong>Export table data</strong></p>
<p class="doc_margin">Use the search box to find the records you want to export. If not all records you want to export are visible, click on Screen Options (upper right corner of the page) and change Number of items per page accordingly. Select all records you want to export. Select Export from the Bulk Actions list and click Apply.</p>
<p class="doc_margin">You can also export the whole table (including the create table script) at once from the Data Explorer main page.</p>

<p class="doc_margin"><strong>Import table data</strong></p>
<p class="doc_margin">Click the import button on top of the screen. Select the file you to import and click Import File.</p>
<p class="doc_margin">The import feature on a Data Explorer table page does only import data into the table displayed on the page. Any other statement than an insert into the table on the page will be rejected. Use the import feature of the Data Explorer main page to import any valid import file.</p>
