<div class="doc_title">Data Backup</div>
<p><strong>Use the Data Backup tool to schedule data backups</strong></p>
<ul class="doc_list">
  <li>Select the tables you want to backup</li>
  <li>Define a unique backup id</li>
  <li>Select your backup location (backup to local or dropbox folder)</li>
  <li>Define a backup interval</li>
  <li>Define the number of backup files you want to keep</li>
</ul>
<p><strong>Recover a data backup</strong></p>
<ul class="doc_list">
  <li>Navigate to the Data Explorer</li>
  <li>Click on button "Import data/Execute script(s)" at the top of the screen</li>
  <li>Choose the backup file you want to recover from your local or Dropbox folder</li>
  <li>Click on button "Import file/Execute script(s)"</li>
</ul>
<p><strong>NOTE</strong></p>
<ul class="doc_list">
  <li>You need to define and activate at least one storage device in Data Backup Settings to use the Data Backup Tool</li>
  <li>Data backup files can be written to a local folder or a Dropbox folder</li>
  <li>To write backup files to your Dropbox you must first grant access to the WP Data Access Dropbox app</li>
</ul>